## 1. Preprocessing the data
### Fake is 1 Real is 0 for all subsequent datasets

In [7]:
import pandas as pd

In [8]:
buzzfeedfake = pd.read_csv('BuzzFeed_fake_news_content.csv')
buzzfeedreal = pd.read_csv('BuzzFeed_real_news_content.csv')
fakes = pd.read_csv('FA-KES-Dataset.csv', encoding='unicode_escape')
fake = pd.read_csv('Fake.csv')
real = pd.read_csv('True.csv')
politifact = pd.read_csv ('PolitiFact_real_news_content.csv')

In [9]:
buzzfeedfake['fake'] = 1
buzzfeedfake = buzzfeedfake.drop(columns =  ['id', 'url', 'top_img', 'authors', 'source', 'publish_date', 'movies', 'images', 'canonical_link', 'meta_data'])
buzzfeedfake.head()

,title,text,fake
0,Proof The Mainstream Media Is Manipulating The...,I woke up this morning to find a variation of ...,1
1,Charity: Clinton Foundation Distributed “Water...,Former President Bill Clinton and his Clinton ...,1
2,A Hillary Clinton Administration May be Entire...,After collapsing just before trying to step in...,1
3,Trump’s Latest Campaign Promise May Be His Mos...,"Donald Trump is, well, deplorable. He’s sugges...",1
4,Website is Down For Maintenance,Website is Down For Maintenance,1

In [10]:
buzzfeedreal['fake'] = 0
buzzfeedreal = buzzfeedreal.drop(columns = ['id', 'url', 'top_img', 'authors', 'source', 'publish_date', 'movies', 'images', 'canonical_link', 'meta_data'])
buzzfeedreal.head()

,title,text,fake
0,Another Terrorist Attack in NYC…Why Are we STI...,"On Saturday, September 17 at 8:30 pm EST, an e...",0
1,"Donald Trump: Drugs a 'Very, Very Big Factor' ...",Less than a day after protests over the police...,0
2,"Obama To UN: ‘Giving Up Liberty, Enhances Secu...","Obama To UN: ‘Giving Up Liberty, Enhances Secu...",0
3,Trump vs. Clinton: A Fundamental Clash over Ho...,Getty Images Wealth Of Nations Trump vs. Clint...,0
4,"President Obama Vetoes 9/11 Victims Bill, Sett...",President Obama today vetoed a bill that would...,0

In [11]:
fakes = fakes.drop(columns = ['unit_id', 'source', 'date', 'location'])
fakes = fakes.rename(columns = {'labels':'fake', 'article_title': 'title', 'article_content':'text'})
fakes['fake'] = 1
fakes.head()

,title,text,fake
0,Syria attack symptoms consistent with nerve ag...,Wed 05 Apr 2017 Syria attack symptoms consiste...,1
1,Homs governor says U.S. attack caused deaths b...,Fri 07 Apr 2017 at 0914 Homs governor says U.S...,1
2,Death toll from Aleppo bomb attack at least 112,Sun 16 Apr 2017 Death toll from Aleppo bomb at...,1
3,Aleppo bomb blast kills six Syrian state TV,Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...,1
4,29 Syria Rebels Dead in Fighting for Key Alepp...,Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...,1

In [12]:
fake = fake.drop(columns = ['subject', 'date'])
fake['fake'] = 1
fake.head()

,title,text,fake
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,1

In [13]:
real = real.drop(columns = ['subject', 'date'])
real['fake'] = 0
real.head()

,title,text,fake
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,0

In [14]:
politifact = politifact.drop(columns = ['id', 'url', 'top_img', 'authors', 'source', 'publish_date', 'movies', 'images', 'canonical_link', 'meta_data'])
politifact['fake'] = 1
politifact.head()

,title,text,fake
0,Trump Just Insulted Millions Who Lost Everythi...,16.8k SHARES SHARE THIS STORY\r\n\r\nHillary C...,1
1,Famous dog killed in spot she waited a year fo...,Famous dog killed in spot she waited a year fo...,1
2,House oversight panel votes Clinton IT chief i...,Story highlights The House Oversight panel vot...,1
3,America Just Tragically Lost A Country Music I...,We are absolutely heartbroken to hear about th...,1
4,Monuments to the Battle for the New South,"Nine years ago, a driver lost control of his p...",1

In [15]:
final = pd.concat((buzzfeedfake, buzzfeedreal, fake, fakes, real, politifact))

In [16]:
final

,title,text,fake
0,Proof The Mainstream Media Is Manipulating The...,I woke up this morning to find a variation of ...,1
1,Charity: Clinton Foundation Distributed “Water...,Former President Bill Clinton and his Clinton ...,1
2,A Hillary Clinton Administration May be Entire...,After collapsing just before trying to step in...,1
3,Trump’s Latest Campaign Promise May Be His Mos...,"Donald Trump is, well, deplorable. He’s sugges...",1
4,Website is Down For Maintenance,Website is Down For Maintenance,1
...,...,...,...
115,"Donald Trump, Germany’s disfavored son – POLITICO","KALLSTADT, Germany — Few places in Germany are...",1
116,BREAKING: Hollywood Legend Just Died Of Terrib...,Hollywood loses yet another one of their deare...,1
117,Worst. President. Ever.,"As my 25th wedding anniversary approached, I t...",1
118,Don King drops N-word while introducing Donald...,Story highlights Trump was sitting in a chair ...,1
119,Donald Trump Jr. Compares Syrian Refugees to S...,"Donald Trump Jr., a son of the Republican pres...",1

### 2. Making the words all lowercase

In [17]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.corpus import stopwords
import re
from nltk.stem.porter import PorterStemmer
from nltk.stem import SnowballStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Isaac\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Isaac\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [18]:
def cleanData(text):
    text = re.sub("((\S+)?(http(s)?)(\S+))|((\S+)?(www)(\S+))|((\S+)?(\@)(\S+)?)", "", text) ## removes all punctuation
    text = re.sub("[^a-zA-Z0-9!?%()<>{}:;\"\',.\[\] ]", "", text)
    text = text.lower()
    text = nltk.word_tokenize(text)
    return text

In [19]:
final['title'] = final['title'].apply(cleanData)
final['text'] = final['text'].apply(cleanData)

In [20]:
final.head()

,title,text,fake
0,"[proof, the, mainstream, media, is, manipulati...","[i, woke, up, this, morning, to, find, a, vari...",1
1,"[charity, :, clinton, foundation, distributed,...","[former, president, bill, clinton, and, his, c...",1
2,"[a, hillary, clinton, administration, may, be,...","[after, collapsing, just, before, trying, to, ...",1
3,"[trumps, latest, campaign, promise, may, be, h...","[donald, trump, is, ,, well, ,, deplorable, .,...",1
4,"[website, is, down, for, maintenance]","[website, is, down, for, maintenance]",1

In [21]:
stop_words = stopwords.words('english')
def removeStopWords(text):
    return [word for word in text if word not in stop_words]

In [22]:
final['title'] = final['title'].apply(removeStopWords)
final['text'] = final['text'].apply(removeStopWords)

In [23]:
final

,title,text,fake
0,"[proof, mainstream, media, manipulating, elect...","[woke, morning, find, variation, headline, spl...",1
1,"[charity, :, clinton, foundation, distributed,...","[former, president, bill, clinton, clinton, he...",1
2,"[hillary, clinton, administration, may, entire...","[collapsing, trying, step, van, removed, 911, ...",1
3,"[trumps, latest, campaign, promise, may, horri...","[donald, trump, ,, well, ,, deplorable, ., hes...",1
4,"[website, maintenance]","[website, maintenance]",1
...,...,...,...
115,"[donald, trump, ,, germanys, disfavored, son, ...","[kallstadt, ,, germany, places, germany, repre...",1
116,"[breaking, :, hollywood, legend, died, terribl...","[hollywood, loses, yet, another, one, dearest,...",1
117,"[worst, ., president, ., ever, .]","[25th, wedding, anniversary, approached, ,, tr...",1
118,"[king, drops, nword, introducing, donald, trump]","[story, highlights, trump, sitting, chair, ons...",1
119,"[donald, trump, jr., compares, syrian, refugee...","[donald, trump, jr., ,, son, republican, presi...",1

In [24]:
stemmer = PorterStemmer()
def stemming(text):
    try:
        text = [stemmer.stem(word) for word in text]
        text = [word for word in text if len(word) > 1] # make sure we have no 1 letter words
    except IndexError:
        pass
    return text

In [25]:
snowball = SnowballStemmer(language='english')
def sbstemming(text):
    try:
        text = [snowball.stem(word) for word in text]
        text = [word for word in text if len(word) > 1] # make sure we have no 1 letter words
    except IndexError:
        pass
    return text

In [26]:
final['title'] = final['title'].apply(sbstemming)
final['text'] = final['text'].apply(sbstemming)

In [27]:
final.head()

,title,text,fake
0,"[proof, mainstream, media, manipul, elect, tak...","[woke, morn, find, variat, headlin, splash, ne...",1
1,"[chariti, clinton, foundat, distribut, watered...","[former, presid, bill, clinton, clinton, healt...",1
2,"[hillari, clinton, administr, may, entir, run,...","[collaps, tri, step, van, remov, 911, ceremoni...",1
3,"[trump, latest, campaign, promis, may, horribl...","[donald, trump, well, deplor, hes, suggest, bu...",1
4,"[websit, mainten]","[websit, mainten]",1

### Sgdata

In [28]:
sg = pd.read_csv('Sgdata.csv')

In [29]:
sg = sg[:-1]

In [31]:
sg['title'] = sg['title'].apply(cleanData)
sg['text'] = sg['text'].apply(cleanData)
sg['title'] = sg['title'].apply(removeStopWords)
sg['text'] = sg['text'].apply(removeStopWords)
sg['title'] = sg['title'].apply(sbstemming)
sg['text'] = sg['text'].apply(sbstemming)

In [32]:
sg

,title,text,fake
0,"[boon, lay, slash, two, men, charg, caus, hurt...","[singapor, two, men, charg, saturday, apr, use...",0
1,"[engin, die, fall, 30m, capitaspr, build]","[singapor, 48yearold, engin, die, friday, morn...",0
2,"[singapor, recal, three, kinder, chocol, produ...","[singapor, recal, kinder, chocol, extend, thre...",0
3,"[singaporean, ix, shen, return, ukrain, join, ...","[singapor, singaporean, ix, shen, back, ukrain...",0
4,"[tanglin, halt, food, centr, attack, 69yearold...","[singapor, 69yearold, man, charg, saturday, ap...",0
5,"[driver, passeng, charg, tri, evad, tua, check...","[singapor, driver, two, passeng, charg, state,...",0
6,"[probat, report, call, man, molest, 9yearold, ...","[singapor, 22yearold, man, admit, friday, apr,...",0
7,"[fire, break, beo, crescent, flat, blaze, link...","[singapor, firefight, singapor, civil, defenc,...",0
8,"[longer, process, time, week, vehicl, entri, p...","[singapor, land, transport, author, lta, frida...",0
9,"[coach, servic, singapor, kl, gent, avail, ful...","[singapor, follow, full, reopen, land, border,...",0
10,"[craft, beer, made, newat, go, public, sale, f...","[singapor, first, sip, drink, tast, exact, lik...",0
11,"[singapor, abstain, vote, suspend, russia, un,...","[singapor, singapor, call, parti, cooper, inde...",0
12,"[author, nikkei, asia, articl, ktv, covid19, c...","[singapor, man, fine, s42,000, friday, apr, po...",0
13,"[man, jail, falsifi, cours, record, cheat, s72...","[singapor, trainer, sentenc, 20, week, jail, f...",0
14,"[jail, man, threw, wine, bottl, kill, 73yearol...","[singapor, man, threw, wine, bottl, group, peo...",0
15,"[sia, flight, singapor, shanghai, depart, apr,...","[singapor, singapor, airlin, sia, announc, fri...",0
16,"[former, agritrad, intern, cfo, given, addit, ...","[singapor, former, chief, financi, offic, comm...",0
17,"[five, teen, arrest, conspir, cheat, least, 25...","[singapor, five, teenag, arrest, suspect, invo...",0
18,"[singapor, report, 4,269, new, covid19, case, ...","[singapor, singapor, report, 4,269, new, covid...",0
19,"[mas, transfer, s75, billion, excess, foreign,...","[singapor, monetari, author, singapor, mas, sa...",0